@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lefthead img {
  width: 90px;
  height: 70px;
}

.righthead {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.righthead span {
  text-align: center;
  color: white;
  text-decoration: none;
}
.righthead span a {
  color: white;
  text-decoration: none;
}
.righthead span:hover {
  cursor: pointer;
  color: #ffaf43;
  text-decoration: underline;
}
.righthead span a:hover {
  cursor: pointer;
  color: #ffaf43;
  text-decoration: underline;
}

@media (max-width: 712px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .righthead {
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    padding-top: 10px;
  }
}
@media (max-width: 379px) {
  .content {
    padding: 10px;
  }
}

.content {
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
